@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #0fe3af;
  --color-secondary: #0152a8;
  --color-text-dark: #1c1c1c;
  --color-text-light: #363636;
  --color-text-lightest: #545454;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  /* outline: 1px solid red; */
}

html {
  font-size: 62.5%; /*1rem=10px */
  line-height: 2.5rem;
  box-sizing: border-box;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 50%; /*1rem=8px*/
  }
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 37.5%; /*1rem=6px*/
  }
}
@media screen and (max-width: 600px) {
  html {
    font-size: 25%; /*1rem=4px*/
  }
}
